{% extends 'base.html' %}

{% block content %}

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-warning alert-dismissible" role="alert">
                      {{ message }}
                      <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                      </div>
                  {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


{% endblock %}
