{% extends 'base.html' %}
{% block content %}


{% if random_username %}

<h3>{{ _('External Terminal Session created') }}</h3>

<p>{{ _('Temporary session has been created for the web terminal. Login information:') }}</p>

<div class="">
                  <div class="form-group">
                    <label for="exampleCombineRow" class="form-label">Logins</label>
                    <div class="form-field">
                      <div class="row" id="exampleCombineRow">
                        <div class="col-6">
                            <div class="input-group">
                              <span class="input-group-text">username:</span>
                              <input type="text" class="form-control" value="{{random_username}}" readonly="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                              <span class="input-group-text">username:</span>
                              <input type="text" class="form-control" value="{{random_password}}" readonly="">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="readOnlyFieldReal" class="form-label">URL</label>
                    <div class="form-field">
                      <input type="text" value="{{ttyd_url}}" class="form-control" readonly="">
                    </div>
                  </div>
                  
</div>


{% elif 'exists' in ttyd_url %}

<h3>{{ _('Terminal Session is Already Running') }}</h3>
<p>Currently only one active web terminal session is supported. You need to either wait for the existing user to exit their web terminal session or terminate their session by killing the ttyd process from the <a href="/process-manager">Process Manager</a>.</p>

{% else %}

<p>{{ _('This interface provides command line access to your account on the server.') }}</p>
<iframe width="100%" height="500px" src="{{ ttyd_url }}" frameborder="0" allowfullscreen></iframe>

{% endif %}

{% endblock %}

