<!-- Keyboard Shortcuts modal -->
<div
  class="modal fade"
  id="shortcutsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="shortcutsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="shortcutsModalLabel"
        >{{ _('Available Keyboard Shortcuts') }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              {% if current_route.startswith('/files') %}
              <p>{{ _('File Manager Shortcuts') }}</p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _('Shortcut') }}</th>
                    <th>{{ _('Action') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + A') }}</strong>
                    </td>
                    <td>{{ _('Select All') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + N') }}</strong>
                    </td>
                    <td>{{ _('Create a New Folder') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + U') }}</strong>
                    </td>
                    <td>{{ _('Upload Files') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + C') }}</strong>
                    </td>
                    <td>{{ _('Copy Files') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + M') }}</strong>
                    </td>
                    <td>{{ _('Move Files') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('DELETE') }}</strong>
                    </td>
                    <td>{{ _('Delete File') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + V') }}</strong>
                    </td>
                    <td>{{ _('View File') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + E') }}</strong>
                    </td>
                    <td>{{ _('Edit File') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + R') }}</strong>
                    </td>
                    <td>{{ _('Rename Files') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + Z') }}</strong>
                    </td>
                    <td>{{ _('Compress Files') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + X') }}</strong>
                    </td>
                    <td>{{ _('Extract Files') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + F') }}</strong>
                    </td>
                    <td>{{ _('Home') }}</td>
                  </tr>
                </tbody>
              </table>
              {% elif current_route.startswith('/usage') %}
              <p>{{ _('Resource Usage Shortcuts') }}</p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _('Shortcut') }}</th>
                    <th>{{ _('Action') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + C') }}</strong>
                    </td>
                    <td>{{ _('Current Resource Usage') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + O') }}</strong>
                    </td>
                    <td>{{ _('Historical (older) Usage') }}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + L') }}</strong>
                    </td>
                    <td>{{ _('View logs') }}</td>
                  </tr>
                </tbody>
              </table>

              {% endif %}
            </div>
          </div>

          <div class="col-md-12">
            <div class="container">
              <p>{{ _('Global Shortcuts') }}</p>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _('Shortcut') }}</th>
                    <th>{{ _('Page') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{{ _('/') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-search"></i>
                      {{ _('Search') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + H') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-speedometer2"></i>
                      {{ _('Dashboard') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + W') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-wordpress"></i>
                      {{ _('WordPress') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + F') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-folder"></i>
                      {{ _('File Manager') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + B') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-database"></i>
                      {{ _('Databases') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + P') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-database-exclamation"></i>
                      {{ _('phpMyAdmin') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + D') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-globe2"></i>
                      {{ _('Domains') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + Q') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-activity"></i>
                      {{ _('Activity') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + Y') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-speedometer"></i>
                      {{ _('Usage') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _('Shift + S') }}</strong>
                    </td>
                    <td>
                      <i class="bi bi-gear"></i>
                      {{ _('Settings') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/keyboardShortcuts.js?v=1.0.0"></script>
</div>
