<div class="card-body screenshot" data-link="http://{{ current_domain }}">
    <a id="https_link" href="http://{{ current_domain }}" target="_blank">
        <img id="screenshot-image" style="width: 700px;" src="/static/images/placeholder.svg" alt="Screenshot of {{ current_domain }}" class="img-fluid">
    </a>
</div>

<script>
    function updateScreenshot() {
        var screenshotImage = document.getElementById("screenshot-image");
        var screenshotURL = "/screenshot/{{ current_domain }}";
        var imageLoader = new Image();
        imageLoader.src = screenshotURL;
        imageLoader.onload = function() {
            screenshotImage.src = screenshotURL;
        };
    }
    window.onload = updateScreenshot;
</script>
