################################### NOTICE ####################################
#                                                                             #
# Manually modifying this file is not recommended!                            #
#                                                                             #
# You should use the interface in OpenAdmin > Settings                        #
# or 'opencli config update' command                                          #
# for applying changes to these settings.                                     #
#                                                                             #
# https://dev.openpanel.com/cli/config.html                                   #
#                                                                             #
###############################################################################

[DEFAULT]
brand_name=
logo=
favicon=
ns1=
ns2=
ns3=
ns4=
email=
logout_url=
enabled_modules=services,filemanager,autoinstaller,domains,ssl,php,dns,locale,account,sessions,mysql,mysql_import,remote_mysql,process_manager,php_options,favorites,phpmyadmin,crons,temporary_links,domain_logs,wordpress,website_builder
,usage,webserver_conf,waf,redis,memcached,login_history,activity,twofa,goaccess,docroot

[USERS]
permit_username_change_by_user=no
permit_subdomain_sharing=no
login_ratelimit=5
login_blocklimit=20
session_duration=100
session_lifetime=300
password_reset=no
weakpass=yes
twofa_nag=yes
how_to_guides=yes
avatar_type=gravatar
max_login_records=20
activity_items_per_page=100
activity_lines_retention=1500
activity_max_size_bytes=2000000
resource_usage_charts_mode=two
resource_usage_items_per_page=100
resource_usage_retention=100
acccess_logs_per_page=1000
domains_per_page=100
domain_log_per_page=500
domain_log_max_for_show_all=10000
found_a_bug_link=yes
ip_county_flag=yes

[LOGS]
logrotate_enable=yes
logrotate_size_limit=100M
logrotate_retention=10
logrotate_keep_days=30

[STATS]
goaccess_enable=yes
goaccess_schedule=monthly
goaccess_email=no
goaccess_keep_days=365


[PANEL]
autoupdate=on
autopatch=on
api=off
dev_mode=off
template=
admin_template=
screenshots=http://screenshots-v2.openpanel.com/api/screenshot
favicons=
temporary_links=https://preview.openpanel.org/index.php
demo_mode=off
favorites_items=10
terminal_command_timeout=10

[SMTP]
mail_server=
mail_port=465
mail_use_tls=False
mail_use_ssl=True
mail_username=
mail_password=
mail_default_sender=
mail_security_token=78bd237db2da
mail_debug=False

[DOCKER]
max_ram=90
max_cpu=95


[LICENSE]
key=

[SECURITY]
blacklist_useragents=no

[FILES]
autopurge_trash=7
filemanager_edit_size=5
filemanager_view_size=5
filemanager_download_size=2000
filemanager_upload_size=2000
filemanager_compress_max_time=5
filemanager_extract_max_time=5
filemanager_download_max_time=60
filemanager_edit_extensions=".txt .md error_log .log env gitconfig cfg htaccess .ini .php .sh .html .json .htm .html5 .xml .py .php5 .php7 .php8 .sql .css .js .conf"
filemanager_image_extensions=".jpg .jpeg .png .gif .webp .avif"
filemanager_archives_extensions=".zip .tar .gz .tar.gz"
