{{define "content"}}
<!-- START templates/domains/redirect.html -->

{{if .DomainName}}

<!-- page header -->
<section aria-label="Edit Redirect Header">
    <div class="border-b flex flex-col border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-950 p-4 sm:p-6 lg:p-8 sm:flex-row sm:items-center sm:justify-between">
        <div>
        <div class="flex items-center gap-x-3"><h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{if .RedirectURL}}{{.T.Get "Edit Redirect for"}}{{else}}{{.T.Get "Create Redirect for"}}{{end}} {{.DomainName}}</h1></div>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{if .RedirectURL}}{{.T.Get "Edit or delete URL redirect for domain"}} <span class="punycode">{{.DomainName}}</span>{{else}}{{.T.Get "Redirect domain to URL."}}{{end}}</p>
    </div>
    <div class="mt-2 gap-2 sm:mt-0 sm:flex">
    </div>
</div>
<!-- END page header -->


<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive">
    <form class="mt-8" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">
        <div class="col-span-full">
            <input type="hidden" name="domain_name" value="{{.DomainName}}">
            <input type="url" name="redirect_url" value="{{if .RedirectURL}}{{.RedirectURL}}{{end}}" pattern="https?://.*" title="{{.T.Get "Must be a valid URL starting with http:// or https://."}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{.T.Get "https://"}}">
        </div>
    </div>

    <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

    <div class="md:flex items-center md:justify-end md:space-x-4">

        <button id="save-redirect" type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full md:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 md:mt-0">{{.T.Get "Save Redirect"}}<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/> </svg>
        </button>

        </form>
        {{if .RedirectURL}}
        <form action="/domains/redirect/delete" method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
            <input class="d-none" type="hidden" name="domain_name" value="{{.DomainName}}">
            <input class="d-none" type="hidden" name="redirect_url" value="{{.RedirectURL}}">
            <button type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full md:w-auto gap-x-1.5 whitespace-nowrap bg-red-700 hover:bg-red-800 text-white hover:bg-gray-800 md:mt-0">{{.T.Get "Delete Redirect"}}</button>
        </form>
        {{end}}

    <a href="/domains" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 mt-2 w-full md:w-auto gap-x-1.5 disabled:text-gray-400 disabled:dark:text-gray-600 md:mt-0">{{.T.Get "Back to Domains"}}</a>
</div>

</div>

</section>


{{else}}

<!-- Content to display when domain is not provided -->

<!-- page header -->
<section
    aria-label="Redirect Header"
>
    <div class="border-b flex flex-col border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-950 p-4 sm:p-6 lg:p-8 sm:flex-row sm:items-center sm:justify-between">
        <div>
        <div class="flex items-center gap-x-3"><h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Redirect Domain to URL"}}</h1></div>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "Redirecting a domain will immediately redirect all traffic to the new URL, while Email and other services remain operational."}}</p>
    </div>
    <div class="mt-2 gap-2 sm:mt-0 sm:flex">
    </div>
</div>
<!-- END page header -->


{{if .Domains}}
    {{template "domain_selector" (dict "T" .T "Domains" .Domains "RedirectBase" "/domains/redirect?domain=")}}
{{else}}
    {{template "no_domain" .}}
{{end}}

</section>



{{end}}

<!-- END templates/domains/redirect.html -->
{{end}}
