services:
  # Database for OpenPanel users, plans, websites and domains
  openpanel_mysql:
    image: mariadb:10-focal
    container_name: openpanel_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: panel
      MYSQL_USER: panel
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
      - /etc/openpanel/:/etc/openpanel/
      - /root/initialize.sql:/docker-entrypoint-initdb.d/initialize.sql
    oom_kill_disable: true
    networks:
      - openpanel_network
    deploy:
      resources:
        limits:
          cpus: "${MYSQL_CPUS:-1.0}"
          memory: "${MYSQL_RAM:-0.5G}"
          pids: 200

  # Malware Scanner used from user panel
  clamav:
    image: clamav/clamav:${CLAMAV_VERSION}
    container_name: clamav
    volumes:
      - /home:/home
      - ./clamav-db:/var/lib/clamav
    restart: unless-stopped
    network_mode: ${CLAMAV_DB_AUTOUPDATE} # needed to update db daily
    environment:
      - CLAMD_STARTUP_DELAY=${CLAMD_STARTUP_DELAY}
    deploy:
      resources:
        limits:
          cpus: "${CLAMAV_CPUS:-1.0}"
          memory: "${CLAMAV_RAM:-1.0G}"
          pids: 200

# used by panel ui to store user sessions and counters
  openpanel_redis:
    image: redis:latest
    container_name: openpanel_redis
    command: ["redis-server", "--unixsocket", "/tmp/redis/redis.sock", "--unixsocketperm", "770"]
    volumes:
      - ${REDIS_SOCKET}:/tmp/redis
    restart: always
    networks:
      - openpanel_network
    deploy:
      resources:
        limits:
          cpus: "${REDIS_CPUS:-0.5}"
          memory: "${REDIS_RAM:-0.5G}"
          pids: 100

  # OpenPanel service running on port 2083
  openpanel:
    image: openpanel/openpanel-ui:${VERSION}
    container_name: openpanel
    depends_on:
      - openpanel_mysql
      - openpanel_redis
      #- clamav
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - "${PORT:-2083}:2083/tcp"
    volumes:
      - /etc/bind:/etc/bind
      - /lib/modules:/lib/modules:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/hostfs:ro
      - /home:/home
      - /usr/local/admin:/usr/local/admin
      - /usr/local/bin/opencli:/usr/local/bin/opencli
      - /usr/local/opencli:/usr/local/opencli
      - /var/log:/var/log
      - /var/lib/csf/:/var/lib/csf/
      - /etc/openpanel/mysql/container_my.cnf:/etc/my.cnf
      - /etc/openpanel/:/etc/openpanel/
      - /var/run/docker.sock:/var/run/docker.sock
      - mysql:/var/lib/mysql
      - /usr/bin/docker:/usr/bin/docker
      - /root/:/root/
      - ${REDIS_SOCKET}:/tmp/redis/
      #  https://dev.openpanel.com/customize.html#Custom-Code
      - /etc/openpanel/openpanel/custom_code/:/templates/custom_code/
      - /etc/openpanel/openpanel/custom_code/custom.css:/static/css/custom.css
      - /etc/openpanel/openpanel/custom_code/custom.js:/static/js/custom.js
      - /etc/openpanel/openpanel/conf/knowledge_base_articles.json:/etc/openpanel/openpanel/conf/knowledge_base_articles.json
      # localization
      - /etc/openpanel/openpanel/translations/:/etc/openpanel/openpanel/translations/
      # emails
      - /usr/local/mail/openmail/:/usr/local/mail/openmail/
      # time
      - /etc/localtime:/etc/localtime:ro
      # plugins
      - /etc/openpanel/modules/:/modules/plugins/
    restart: always
    privileged: true
    networks:
      - openpanel_network
    deploy:
      resources:
        limits:
          cpus: "${OPENPANEL_CPUS:-1.0}"
          memory: "${OPENPANEL_RAM:-1.0G}"
          pids: 300

  # Webserver from 1.0.0
  caddy:
    image: ${CADDY_IMAGE}
    container_name: caddy
    cap_add:
      - NET_ADMIN
    volumes:
      - /etc/openpanel/caddy/Caddyfile:/etc/caddy/Caddyfile                           # Caddy config
      - /etc/openpanel/caddy/ssl:/data/caddy/certificates                             # Custom SSL certificates
      - /etc/openpanel/caddy/:/etc/openpanel/caddy/                                   # domain files, templates 
      - /etc/openpanel/caddy/coraza_rules.conf:/etc/openpanel/caddy/coraza_rules.conf # default rules
      - /var/log/caddy/:/var/log/caddy/
    restart: unless-stopped
    mem_limit: ${CADDY_RAM}
    cpus: ${CADDY_CPUS}
    oom_kill_disable: true
    network_mode: host

  # DNS
  bind9:
    container_name: openpanel_dns
    image: ubuntu/bind9:${BIND9_VERSION}
    environment:
      - BIND9_USER=root
      - TZ=${BIND_TIMEZONE}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - /etc/bind/:/etc/bind/
    restart: unless-stopped
    oom_kill_disable: true
    networks:
      - openpanel_network
    deploy:
      resources:
        limits:
          cpus: "${BIND9_CPUS:-0.5}"
          memory: "${BIND9_RAM:-0.5G}"
          pids: 100

  # FTP
  openadmin_ftp:
    build:
      context: /etc/openpanel/ftp/    
    container_name: openadmin_ftp
    restart: always
    ports:
      - "21:21"
      - "${FTP_PORT_RANGE}:21000-21010"
    volumes:
      - /home/:/home/
      - /etc/openpanel/ftp/vsftpd.conf:/etc/vsftpd/vsftpd.conf
      - /etc/openpanel/ftp/start_vsftpd.sh:/bin/start_vsftpd.sh
      - /etc/openpanel/ftp/vsftpd.chroot_list:/etc/vsftpd.chroot_list
      - /etc/openpanel/ftp/all.users:/etc/openpanel/ftp/all.users
      - /etc/openpanel/ftp/users/:/etc/openpanel/ftp/users/
      - /etc/openpanel/caddy/ssl/:/etc/openpanel/caddy/ssl/:ro #ssl
    networks:
      - openpanel_network
    deploy:
      resources:
        limits:
          cpus: "${FTP_CPUS:-0.5}"
          memory: "${FTP_RAM:-0.5G}"
          pids: 100

# make the mysql data persistent
volumes:
  mysql:
    labels:
      description: "This volume holds the openpanel database."
      purpose: "configuration"

# define custom network
networks:
  openpanel_network:
    driver: bridge
    labels:
      description: "This network allows OpenPanel UI to communicate to system containers."
      purpose: "internal"
  
