{{define "alpine_plugins"}}{{end}}

{{define "content"}}
<!-- START templates/files/backup_destinations.html -->

<section aria-label="Destintions" x-data="{ searchQuery: '' }">
    <div class="border-b flex flex-col border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-950 p-4 sm:p-6 lg:p-8 sm:flex-row sm:items-center sm:justify-between">
        <div>
            <div class="flex items-center gap-x-3">
                <h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Backup Destination"}}</h1>
            </div>
            <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "Select a backup destination."}}</p>
        </div>
        <div class="mt-2 gap-2 sm:mt-0 flex sm:inline">
            <p class="text-sm text-gray-500 dark:text-gray-500">
            {{if .Active}}{{.T.Get "Current destination:"}} <span class="font-semibold">{{.Active}}</span>{{else}}<p><span class="font-semibold">{{.T.Get "No destination configured yet."}}</span></p>{{end}}</p>
        </div>
    </div>
</section>


<form method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

    <div class="m-8">
        <div class="grid grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-3">
            <div class="md:col-span-3">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-3">

                    {{range .Cards}}
    <div
        x-data="{ enabled: {{if .Active}}true{{else}}false{{end}} }"
        class="relative w-full rounded-lg border text-left shadow-sm bg-white dark:bg-[#090E1A]
               border-gray-200 dark:border-gray-900 overflow-hidden p-0"
    >
        <div class="px-4 pb-6 pt-4">
            {{if .Icon}}
            <div class="flex items-center space-x-3">
                <span class="flex size-12 shrink-0 items-center justify-center rounded border border-gray-200 p-1 dark:border-gray-800">
                    {{.Icon}}
                </span>
                <dt class="text-sm font-medium text-gray-900 dark:text-gray-50">{{.Title}}</dt>
            </div>
            {{else}}
            <h4 class="mt-4 text-sm font-semibold text-gray-900 dark:text-gray-50">{{.Title}}</h4>
            {{end}}
            <p class="mt-2 max-w-xl text-sm leading-6 text-gray-500">{{.Description}}</p>
        </div>

        <div class="flex items-center justify-between border-t border-gray-200 bg-gray-50 p-4 dark:border-gray-900 dark:bg-gray-900">
            <div class="flex items-center gap-3">
                <input
                    type="radio"
                    x-model="enabled"
                    name="target"
                    value="{{.Target}}"
                    id="{{.Target}}"
                    :checked="enabled"
                    class="hidden"
                >
                <button
                    @click="enabled = true"
                    :aria-checked="enabled"
                    :class="enabled ? 'bg-indigo-600 dark:bg-indigo-600' : 'bg-gray-200 dark:bg-gray-950'"
                    class="group relative isolate inline-flex shrink-0 cursor-pointer items-center rounded-full p-0.5
                           shadow-inner ring-1 ring-inset transition-all ring-black/5 dark:ring-gray-800
                           outline outline-offset-2 outline-0 focus-visible:outline-2 outline-indigo-500
                           dark:outline-indigo-500 h-5 w-9"
                >
                    <span
                        :class="enabled ? 'translate-x-4' : 'translate-x-0'"
                        class="pointer-events-none relative inline-block transform appearance-none rounded-full
                               border-none shadow-lg outline-none transition-all duration-150 ease-in-out
                               bg-white dark:bg-gray-50 h-4 w-4"
                    ></span>
                </button>
                <label class="text-sm leading-none text-gray-900 dark:text-gray-50" for="{{.Target}}">{{$.T.Get "Select"}}</label>
            </div>
            <a href="{{.DocLink}}" target="_blank" class="hidden inline-flex items-center gap-1 text-sm text-indigo-600 dark:text-indigo-500">
                {{$.T.Get "Learn more"}}
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0">
                    <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                </svg>
            </a>
        </div>
    </div>
                    {{end}}

                </div>
            </div>
        </div>
    </div>
</form>
<!-- END form -->

<!-- END templates/files/backup_destinations.html -->
{{end}}
