{{define "alpine_plugins"}}{{end}}

{{define "content"}}
<!-- START templates/files/ftp_password.html -->

<!-- page header -->
<section aria-label="FTP Password Header" x-data="{ searchQuery: '' }">
    <div class="border-b flex flex-col border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-950 p-4 sm:p-6 lg:p-8 sm:flex-row sm:items-center sm:justify-between">
        <div>
        <div class="flex items-center gap-x-3"><h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "FTP Password"}}</h1></div>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "Change FTP password for user"}} {{.Username}}</p>
    </div>
    <div class="mt-2 gap-2 sm:mt-0 sm:flex">
    </div>
</div>
<!-- END page header -->


<!-- form -->
<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive" x-data="focusField()">
    <form class="mt-8" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">

                  <input type="hidden" id="username" name="username"  value="{{.Username}}">



<div
  class="col-span-full mb-5"
  x-data="passwordStrength({
    weak: '{{.T.Get "Weak password"}}',
    medium: '{{.T.Get "Medium strength password"}}',
    strong: '{{.T.Get "Strong password"}}',
    tooWeak: '{{.T.Get "Password does not meet the required strength."}}'
  }, {{.PasswordStrength}})"
  x-init="checkStrength()"
>
  <label
    for="new_password"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
  >
    {{.T.Get "New Password"}}<span class="text-red-500 dark:text-red-500">*</span>
  </label>
  <div class="flex">
    <input
      type="text"
      name="new_password"
      id="new_password"
      maxlength="30"
      minlength="8"
      pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z0-9]).{8,}"
      title="{{.T.Get "Password must be 8-30 characters and include a lowercase letter, an uppercase letter, a number, and a special character."}}"
      placeholder=" {{.T.Get "New password"}}"
      class="relative block w-full appearance-none rounded-l-md border-l border-y px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden"
      x-model="password"
      x-ref="input"
      @input="checkStrength()"
    />

    <div class="input-group-append">
      <button
        class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
        type="button"
        id="generate_password">
        <i class="bi bi-shuffle"></i>
      </button>
    </div>
    <div class="input-group-append">
      <button class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white" type="button" id="toggle_password">
        <i class="bi bi-eye"></i>
      </button>
    </div>

    <div class="input-group-append">
        <span class="d-none" id="copy-password-link">

        <button type="button" id="copy-password" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
            <i class="bi bi-clipboard"></i>
        </button>

        </span>
    </div>
  </div>

  <!-- new_password strength indicator -->
  <div class="mt-2 h-2 rounded bg-gray-200 dark:bg-gray-700 overflow-hidden">
    <div
      class="h-full rounded transition-all duration-300"
      :class="{
        'bg-red-500': strength === 'Weak',
        'bg-orange-500': strength === 'Medium',
        'bg-green-500': strength === 'Strong',
        'w-1/3': strength === 'Weak',
        'w-2/3': strength === 'Medium',
        'w-full': strength === 'Strong'
      }"
      style="width: 0%"
      :style="{
        width:
          strength === 'Weak'
            ? '33%'
            : strength === 'Medium'
            ? '66%'
            : strength === 'Strong'
            ? '100%'
            : '0%'
      }"
    ></div>
  </div>
  <p
    class="mt-1 text-sm font-semibold"
    :class="{
      'text-red-600 dark:text-red-400': strength === 'Weak',
      'text-yellow-600 dark:text-yellow-400': strength === 'Medium',
      'text-green-600 dark:text-green-400': strength === 'Strong'
    }"
  >
    <span x-text="strengthMessage" class="text-xs"></span>
  </p>
</div>


            <div class="col-span-full">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{.T.Get "Confirm Password"}}<span class="text-red-500 dark:text-red-500">*</span></label>
              <div class="flex rounded-lg shadow-sm">
                <input required type="password" id="confirm_password" name="confirm_password" placeholder="{{.T.Get "Confirm New Password"}}" maxlength="30" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-l-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">



              </div>
              <div id="passwordError" class="text-red-500 text-sm mt-2" style="display:none;">
                {{.T.Get "Passwords do not match."}}
              </div>
            </div>

        </div>

        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>



<div class="md:flex items-center md:justify-end md:space-x-4">
    <button type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0">{{.T.Get "Update"}}<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path></svg></button>
</div>

    </form>
</div>
<!-- END form -->


    <script>
// Sve za pass generate, copy to clipboard i hide/show
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById("new_password");
            const confirmPasswordInput = document.getElementById("confirm_password");
            const showHideButton = document.getElementById("toggle_password");
            const eyeIcon = showHideButton.querySelector("i");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                confirmPasswordInput.type = "text";
                eyeIcon.classList.remove("bi-eye");
                eyeIcon.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                confirmPasswordInput.type = "password";
                eyeIcon.classList.remove("bi-eye-slash");
                eyeIcon.classList.add("bi-eye");
            }
        }

        document.getElementById("toggle_password").addEventListener("click", togglePasswordVisibility);

        function generateRandomPassword() {
            const lowercase = "abcdefghijklmnopqrstuvwxyz";
            const uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            const digits = "0123456789";
            const special = "!@#$%^&*+=?";
            const allChars = lowercase + uppercase + digits + special;

            let password = "";

            password += lowercase[Math.floor(Math.random() * lowercase.length)];
            password += uppercase[Math.floor(Math.random() * uppercase.length)];
            password += digits[Math.floor(Math.random() * digits.length)];
            password += special[Math.floor(Math.random() * special.length)];

            for (let i = 4; i < 12; i++) {
                password += allChars[Math.floor(Math.random() * allChars.length)];
            }

            const arr = password.split("");
            for (let i = arr.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [arr[i], arr[j]] = [arr[j], arr[i]];
            }

            return arr.join("");
        }

        function copyPasswordToClipboard() {
            const passwordInput = document.createElement("input");
            passwordInput.type = "text";
            passwordInput.value = document.getElementById("new_password").value;
            document.body.appendChild(passwordInput);
            passwordInput.select();
            document.execCommand("copy");
            document.body.removeChild(passwordInput);

            const copyLink = document.getElementById("copy-password");
            copyLink.innerHTML = '<i class="bi bi-check"></i>';

            setTimeout(() => {
                copyLink.innerHTML = '<i class="bi bi-clipboard"></i>';
            }, 3000);
        }

        function generatePasswordAndFill() {
            const newPassword = generateRandomPassword();
            const showHideButton = document.getElementById("toggle_password");
            const eyeIcon = showHideButton.querySelector("i");

            document.getElementById("new_password").type = "text";
            document.getElementById("confirm_password").type = "text";
            document.getElementById("new_password").value = newPassword;
            document.getElementById("confirm_password").value = newPassword;
            const passwordField = document.getElementById("new_password");
            passwordField.dispatchEvent(new Event('input', { bubbles: true }));
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");
            document.getElementById("copy-password-link").classList.remove("d-none");
        }

        document.getElementById("generate_password").addEventListener("click", function() {
            generatePasswordAndFill();
        });

        document.getElementById("copy-password").addEventListener("click", copyPasswordToClipboard);

        // When the page loads, populate random values for the inputs
        document.addEventListener("DOMContentLoaded", function () {
            generatePasswordAndFill();
        });

        document.querySelector("#toAddActive form").addEventListener("submit", function(e) {
            const password = document.getElementById("new_password").value;
            const confirmPassword = document.getElementById("confirm_password").value;
            const errorDiv = document.getElementById("passwordError");

            if (password !== confirmPassword) {
                e.preventDefault();
                errorDiv.style.display = "block";
            } else {
                errorDiv.style.display = "none";
            }
        });
    </script>

<!-- END templates/files/ftp_password.html -->
{{end}}
