{{define "alpine_plugins"}}{{end}}

{{define "content"}}
<!-- START templates/mysql/configuration.html -->

<section aria-label="Settings Header" x-data="{ searchQuery: '' }">
    <div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:flex sm:items-center sm:justify-between sm:p-6 lg:p-8">
        <div>
        <h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "MySQL Configuration"}}</h1>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "View and modify the MySQL service configuration. Any changes will restart the service."}} {{.T.Get "For more information"}}, <a href="https://openpanel.com/docs/panel/advanced/mysql_conf/" target="_blank" class="inline-flex items-center gap-1 text-indigo-600 hover:underline hover:underline-offset-4 dark:text-indigo-400">{{.T.Get "read the documentation"}}<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-4 shrink-0"><path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"></path></svg></a>.</p>
    </div>
    <div class="mt-2 gap-2 sm:mt-0 sm:flex">
        <div class="relative w-full sm:w-64">
            <input x-model="searchQuery" class="relative block w-full appearance-none rounded border px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 pl-8" placeholder="{{.T.Get "Search"}}" type="search"/>
            <div class="pointer-events-none absolute bottom-0 left-2 flex h-full items-center justify-center text-gray-400 dark:text-gray-600">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon size-[1.125rem] shrink-0">
                    <path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path>
                </svg>
            </div>
        </div>

  <form method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

      <button type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 sm:w-fit mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0">{{.T.Get "Save Changes"}}</button>
    </div>
</div>

<div class="overflow-x-auto">
        <div class="w-full overflow-auto whitespace-nowrap border-t border-gray-200 dark:border-gray-800">
            <table id="mysql-config-table" class="w-full caption-bottom border-b border-gray-200 dark:border-gray-800">
                <thead class="">
                    <tr class="bg-gray-50 dark:bg-gray-900 sm:[&_td:last-child]:pr-6 sm:[&_th:last-child]:pr-6 sm:[&_td:first-child]:pl-6 sm:[&_th:first-child]:pl-6">
                        <th scope="col" class="whitespace-nowrap border-b px-4 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-50 border-gray-200 dark:border-gray-800">{{.T.Get "Setting"}}</th>
                        <th scope="col" class="whitespace-nowrap border-b px-4 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-50 border-gray-200 dark:border-gray-800">{{.T.Get "Value"}}</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-gray-800">

                  {{$config := .CurrentConfig}}
                  {{range .DefaultKeys}}
                  {{$key := .}}
                  {{$val := index $config $key}}
                  <tr x-show="searchQuery === '' || {{toJSON $key}}.toLowerCase().includes(searchQuery.toLowerCase()) || {{toJSON $val}}.toLowerCase().includes(searchQuery.toLowerCase())" class="sm:[&_td:last-child]:pr-6 sm:[&_td:first-child]:pl-6 hover:bg-white dark:hover:bg-gray-900">
                    <td class="whitespace-nowrap p-4 text-sm text-gray-600 dark:text-gray-400">
                      {{$key}}
                    </td>
                    <td class="whitespace-nowrap p-4 text-sm text-gray-600 dark:text-gray-400">
                      <input type="text" id="{{$key}}" name="{{$key}}" value="{{$val}}" class="relative block w-full appearance-none rounded-l-md border-l border-y px-2.5 py-2 shadow-sm outline-none transition sm:text-sm border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-white dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 focus:ring-2 focus:ring-blue-200 focus:dark:ring-blue-700/30 focus:border-blue-500 focus:dark:border-blue-700 [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden" />
                    </td>
                  </tr>
                  {{end}}
                </tbody>
            </table>
        </div>
    </div>
</form>

</section>

<!-- END templates/mysql/configuration.html -->
{{end}}
