{{define "content"}}
<!-- START templates/mysql/phpmyadmin_unavailable.html -->

<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "phpMyAdmin"}}</h1>
    </header>
</div>

<div class="p-6">
    <div class="p-6 flex items-center justify-center rounded border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-800">
        <div class="text-center">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-hidden="true" class="remixicon mx-auto size-7 text-gray-400 dark:text-gray-600"><path d="M3 12H7V21H3V12ZM17 8H21V21H17V8ZM10 2H14V21H10V2Z"></path></svg>
            <p class="mt-2 font-medium text-gray-900 dark:text-gray-50">{{.T.Get "phpMyAdmin is currently unavailable"}}</p>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-500">{{if .ErrorMessage}}{{.ErrorMessage}}{{else}}{{.T.Get "Please contact support."}}{{end}}</p>
            <div class="mt-8 sm:flex sm:items-center sm:justify-center gap-x-3">
                {{if .UserAllowed.docker}}
                <a href="/containers?s=phpmyadmin" class="relative inline-flex items-center justify-center whitespace-nowrap rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-transparent text-white dark:text-white bg-blue-500 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-600 disabled:bg-blue-300 disabled:text-white disabled:dark:bg-blue-800 disabled:dark:text-blue-400 w-full sm:w-fit">{{.T.Get "Manage Container"}}</a>
                {{else}}
                <span class="relative inline-flex items-center justify-center whitespace-nowrap rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-transparent text-white dark:text-white bg-blue-500 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-600 disabled:bg-blue-300 disabled:text-white disabled:dark:bg-blue-800 disabled:dark:text-blue-400 w-full sm:w-fit">{{.T.Get "Contact Administrator"}}</span>
                {{end}}
            </div>
        </div>
    </div>
</div>
<!-- END templates/mysql/phpmyadmin_unavailable.html -->
{{end}}
