{{define "alpine_plugins"}}{{end}}

{{define "content"}}
<!-- START templates/mysql/remove.html -->

<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Remove User access from Database"}}</h1>
        <p class="text-sm text-gray-500 dark:text-gray-500"> {{.T.Get "Remove a user from an existing MySQL database to revoke their permissions and prevent access to executing queries, modifying tables, or managing data within the specified database."}}</p>
    </header>
</div>

<!-- form -->
<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive">
    <form class="mt-8" method="POST" action="/mysql/remove_user_from_db" id="userDbForm2">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">

  <div class="col-span-full mb-5">
    <label for="db_user" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{.T.Get "Select user:"}}</label>

    <div class="flex rounded-lg shadow-sm">

  <select name="db_user" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    <option value="" disabled>{{.T.Get "Select a Username"}}</option>
  </select>

    </div>
  </div>


  <div class="col-span-full mb-5">    <label for="database_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >{{.T.Get "Select database:"}}<span class="text-red-500 dark:text-red-500">*</span></label>
    <div class="flex rounded-lg shadow-sm">
        <input type="text" name="db_host" class="form-control" placeholder=" {{.T.Get "Host"}}" value="%" hidden required>
  <select name="database_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    <option value="" disabled>{{.T.Get "Select a Database"}}</option>
  </select>

    </div>
  </div>

      </div>

        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

<div class="md:flex items-center md:justify-end md:space-x-4">
    <a href="/mysql" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 w-full gap-x-0.5 whitespace-nowrap sm:w-fit">
        {{.T.Get "Back to Databases"}}
    </a>
    <button type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0">{{.T.Get "Remove User from Database"}}<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
    </button>
</div>

    </form>
</div>
<!-- END form -->

<script>

function refreshData() {
    fetch('/mysql/info', {
        headers: {
            'X-CSRF-Token': csrf_token
        }
    })
        .then(res => res.json())
        .then(data => {

                    var userSelect = document.querySelector("select[name='db_user']");
                    var databaseSelect = document.querySelector("select[name='database_name']");

                    data.users.forEach(function(user) {
                        var opt = document.createElement('option');
                        opt.value = user;
                        opt.text = user;
                        userSelect.appendChild(opt);
                    });

                    data.databases.forEach(function(database) {
                        var opt = document.createElement('option');
                        opt.value = database;
                        opt.text = database;
                        databaseSelect.appendChild(opt);
                    });

        })
        .catch(function (error) {
            console.error('Error fetching data:', error);
        });
}

refreshData();
</script>

<!-- END templates/mysql/remove.html -->
{{end}}
