[Unit]
Description=Floating IP
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/admin/scripts/server/recreate_hosts
ExecReload=/usr/local/admin/scripts/server/recreate_hosts
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
