<div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100% !important;">
        <tbody>
            <tr>
                <td align="center">
                    <table width="600" border="0" cellspacing="0" cellpadding="40" style="border: 1px solid #eaeaea; border-radius: 5px; margin: 40px 0;">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <div
                                        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; text-align: left; width: 465px;"
                                    >
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100% !important;">
                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <div style="padding-top: 50px; font-weight: 1000; vertical-align: middle;">

                                                            <div>
                                                               <a href="https://openpanel.com" target="_blank">
                                                               <img src="https://openpanel.com/img/openpanel_logo.png" width="40" height="37" alt="OpenPanel" class="CToWUd" data-bit="iit">
                                                               </a>
                                                            </div>
                                                        </div>
                                                        <h1
                                                            style="
                                                                color: #000;
                                                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                                                                font-size: 24px;
                                                                font-weight: normal;
                                                                margin: 30px 0;
                                                                padding: 0;
                                                            "
                                                        >
                                                            {{ title }}
                                                        </h1>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="m_-78391128173992984898e7e1112-7980-4bdd-9db6-cdb6e0a4d77b" width="100%" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-bottom: 8px; padding-left: 4px; padding-right: 4px; padding-top: 8px;">
                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        ></p>


    {% if 'OpenAdmin URL:' in message %}
        {% set parts = message.split('|') %}
        {% set link = parts[0].split('OpenAdmin URL:')[1].strip() %}
        {% set username = parts[1].split('username:')[1].strip() %}
        {% set password = parts[2].split('password:')[1].strip() %}

                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >Your new OpenPanel server is all set to go! You can access it using the following credentials:</p>
                                                                        <br>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >OpenAdmin URL: <a href="{{ admin_url }} style="text-decoration: none;" target="_blank" data-saferedirecturl="https://www.google.com/url?q={{ admin_url }}">{{ admin_url }}</a></p>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >Username: <strong style="color:#000;font-weight:bold">{{ username }}</strong></p>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >Password: <code style="color:rgb(189,16,224);font-family:Menlo,Monaco,&quot;Lucida Console&quot;,&quot;Liberation Mono&quot;,&quot;DejaVu Sans Mono&quot;,&quot;Bitstream Vera Sans Mono&quot;,&quot;Courier New&quot;,monospace,serif;font-size:0.9em;text-decoration:none">{{ password }}</code></p>


    {% elif 'High CPU Usage!' in title %}

{% set message_parts = message.split("| Top Processes:") %}
{% set percentage_cpu = message_parts[0]|trim %}
{% set cpu_process_list = message_parts[1]|trim %}


                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >Current CPU usage: <b>{{ percentage_cpu.split(':')[1].strip() }}</b></p>

                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >Processes with the highest CPU usage:</p>

<pre style="
                                                                                width:450px;"
                                                                                color: #fcfdfe;
                                                                                background: #182433;
                                                                                padding: 1rem;
                                                                                font-size: 85.714285%;
                                                                            ">
{{ cpu_process_list|replace('\\n', '<br>')|safe }}
</pre>



    {% else %}


                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >{{ message }}</p>
    {% endif %}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


{% if 'OpenAdmin URL:' in message %}

{% else %}
                                        <table id="m_-7839112817399298489bfb32045-b4b4-429b-923e-c694ab9dc192" width="100%" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-bottom: 8px; padding-left: 4px; padding-right: 4px; padding-top: 8px;">
                                                        <table align="center" width="100%" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <table border="0" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td id="m_-7839112817399298489cfa16f4e-0d1c-480e-a0ab-446aa6cf9e3e">
                                                                                                        <a
                                                                                                            href="{{ admin_url }}view_notifications"
                                                                                                            style="
                                                                                                                background-color: #000;
                                                                                                                border-radius: 5px;
                                                                                                                color: #fff;
                                                                                                                display: inline-block;
                                                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
                                                                                                                    'Droid Sans', 'Helvetica Neue', sans-serif;
                                                                                                                font-size: 12px;
                                                                                                                font-weight: 500;
                                                                                                                line-height: 50px;
                                                                                                                text-align: center;
                                                                                                                text-decoration: none;
                                                                                                                width: 200px;
                                                                                                            "
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q={{ admin_url }}view_notifications"
                                                                                                        >
                                                                                                            See More Details
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="m_-78391128173992984891124cb37-6584-4367-a035-801c7f37af79" width="100%" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-bottom: 8px; padding-left: 4px; padding-right: 4px; padding-top: 8px;">
                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >
                                                                            This notification was triggered by:
                                                                        </p>
                                                                        <ul style="padding-left: 20px;">
                                                                            <li
                                                                                style="
                                                                                    color: #000;
                                                                                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                        sans-serif;
                                                                                    font-size: 14px;
                                                                                    line-height: 2em;
                                                                                "
                                                                            >
                                                                                Sentinel Monitoring service running on OpenPanel server: <strong style="color: #000; font-weight: bold;">{{ hostname }}</strong>
                                                                            </li>
                                                                        </ul>
                                                                        <span></span>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >
                                                                            To view the notification you may also copy and paste the URL below:
                                                                        </p>
                                                                        <p
                                                                            style="
                                                                                color: #000;
                                                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                                                                    sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 24px;
                                                                            "
                                                                        >
                                                                            <a
                                                                                href="{{ admin_url }}view_notifications"
                                                                                style="color: #067df7; text-decoration: none;"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q={{ ADMIN_URL }}view_notifications"
                                                                            >
                                                                                <code
                                                                                    style="
                                                                                        color: rgb(189, 16, 224);
                                                                                        font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
                                                                                        font-size: 0.9em;
                                                                                        text-decoration: none;
                                                                                    "
                                                                                >
                                                                                    {{ admin_url }}view_notifications
                                                                                </code>
                                                                            </a>
                                                                            <br />
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
{% endif %}


                                        </table>
                                        <hr style="border: none; border-top: 1px solid #eaeaea; margin: 26px 0; width: 100%;" />
                                        <p
                                            style="
                                                color: #666666;
                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                                                font-size: 12px;
                                                line-height: 24px;
                                            "
                                        >
                                            OpenPanel B.V. -
                                            <a href="https://openpanel.com" style="color: #067df7; text-decoration: none;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://openpanel.com">
                                                openpanel.com
                                            </a>
                                        </p>
                                        <p
                                            style="
                                                color: #666666;
                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                                                font-size: 12px;
                                                line-height: 24px;
                                            "
                                        >
                                            If you’d like to talk to a support team member, please
                                            <a href="https://my.openpanel.com/" style="color: #067df7; text-decoration: none;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://my.openpanel.com">
                                                submit a new case
                                            </a>
                                            .
                                        </p>
                                        <p
                                            style="
                                                color: #666666;
                                                font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                                                font-size: 12px;
                                                line-height: 24px;
                                            "
                                        >
                                            <a href="{{ admin_url }}view_notifications" style="color: #067df7; text-decoration: none;" target="_blank" data-saferedirecturl="https://www.google.com/url?q={{ admin_url }}view_notifications">
                                                Click here to manage your notification settings
                                            </a>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
