{% extends 'base.html' %}

{% block content %}



<div class="row g-4 py-3 px-3 row-cols-1 row-cols-lg-3">
  <!-- First column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-clock"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{ _('Server Time') }}</h3>
          <p>{{ _('Set your server’s time zone and synchronize its time with your network’s time server.') }}</p>
          <a href="/server/timezone" class="btn btn-primary">
            {{ _('Change TimeZone') }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Second column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-window-fullscreen"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{ _('Service Status') }}</h3>
          <p>{{ _('Display a list of OpenPanel’s monitored services, their current version and statuses.') }}</p>
          <a href="/server/services" class="btn btn-primary">
            {{ _('Monitor Services') }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Third column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-hdd-network"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{service_name}} {{ _('Settings') }}</h3>
          <p>{{ _('Configure') }} {{service_name}} {{ _('web server software that handles HTTP requests') }}.</p>
          <a href="/server/webserver_conf" class="btn btn-primary">
            {{service_name}} {{ _('Configuration') }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 4th column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-database-lock"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{ _('MySQL Settings') }}</h3>
          <p>{{ _('Make changes to your MySQL® or MariaDB® configuration.') }}</p>
          <a href="/server/mysql_conf" class="btn btn-primary">
            {{ _('MySQL Configuration') }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 5th column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-code-square"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{ _('PHP Settings') }}</h3>
          <p>{{ _('Make changes to your PHP configuration.') }}</p>
          <a href="/php-version" class="btn btn-primary">
            {{ _('PHP Configuration') }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 6th column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-shield-lock"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{ _('ModSecurity® Settings') }}</h3>
          <p>{{ _('Enable or disable ModSecurity for your domains.') }}</p>
          <a href="/server/modsecurity" class="btn btn-primary">
            {{ _(' ModSecurity Settings') }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 7th column -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="font-size:2em!important;">
          <i class="bi bi-info-square"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">{{ _('Server Information') }}</h3>
          <p>{{ _('Displays information about your account and the server.') }}</p>
          <a href="/server/info" class="btn btn-primary">
            {{ _('Server Information') }}
          </a>
        </div>
      </div>
    </div>
  </div>


</div>



{% endblock %}
