{{define "alpine_plugins"}}{{end}}

{{define "content"}}
<!-- START templates/emails/delete.html -->

{{if .Address}}

<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Delete"}} <span class="punycode">{{.Address}}</span></h1>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "Delete email account and all it's data."}}</p>
    </header>
</div>


<!-- form -->
<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive">
        <div class="mt-8 grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">

  <div class="col-span-full mb-5">
                    <h6 class="font-bold">{{.T.Get "Click on the button below to permanently delete the account and all it's emails."}}</h6>
                </div>

        </div>

        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>

<div class="md:flex items-center md:justify-end md:space-x-4">
    <a href="/emails" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 border-gray-300 dark:border-gray-800 text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 w-full gap-x-0.5 whitespace-nowrap sm:w-fit">
        {{.T.Get "Cancel"}}
    </a>

        <form id="delete-email-form" action="/emails/edit/{{.Address}}" method="POST" onsubmit="event.preventDefault(); deleteEmail({{toJSON .Address}});">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

            <input type="email" class="form-control" name="email_username" value="{{.Address}}" readonly hidden>
    <button type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0"><i class="bi bi-trash3"></i> {{.T.Get "Confirm Delete"}}</button>
        </form>

</div>

<script>
function deleteEmail(address) {
    fetch(`/emails/edit/${address}`, {
        method: 'DELETE',
        headers: {
            'X-CSRF-Token': csrf_token,
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email: address })
    })
    .then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        } else {
            return response.json();
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
    </script>

</div>
<!-- END form -->
</section>

{{else}}

<div class="border-b border-gray-200 bg-gray-50 p-4 dark:border-gray-800 dark:bg-gray-950 sm:p-6 lg:p-8">
    <header>
        <h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Select Email"}}</h1>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "Select email address to delete."}}</p>
    </header>
</div>


<!-- form -->
<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive">
    <form class="mt-8" method="GET">
	    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

       <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">


            <div class="col-span-full">

  <select id="domains" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="domain_name" onchange="redirectToSelectedVersion(this)">
                          <option value="" disabled selected>{{.T.Get "Select address"}}</option>
                {{range .Addresses}}
                          <option class="punycode" value="{{.}}">{{.}}</option>
                {{end}}
                      </select>
              <script>
                  function redirectToSelectedVersion(selectElement) {
                      var selectedVersion = selectElement.value;
                      if (selectedVersion) {
                          window.location.href = `/emails/delete/${selectedVersion}`;
                      }
                  }
              </script>

    </form>

{{end}}

<!-- END templates/emails/delete.html -->
{{end}}
