{{define "information"}}<!-- START templates/dashboard/information.html -->
<div id="dashboard_info"
    class="flex flex-col justify-center overflow-hidden rounded bg-white border border-gray-200 dark:bg-gray-950 dark:border-gray-800 xl:col-span-1"
    x-data="{
        lastIp: '{{.LastIP}}',
        showFlag: '{{.IPCountyFlag}}' === 'yes',
        country: '',
        flagSrc: '',
        async fetchFlag() {
            if (this.showFlag && this.lastIp) {
                try {
                    const response = await fetch(`https://api.country.is/${this.lastIp}`);
                    const data = await response.json();
                    if (data && data.country) {
                        this.country = data.country;
                        this.flagSrc = `/static/flags/${data.country.toLowerCase()}.png`;
                    }
                } catch (e) {
                    console.error('Error fetching country data from https://api.country.is :', e);
                }
            }
        }
    }"
    x-init="fetchFlag()">
    <div class="flex items-center justify-between gap-4 relative m-0 p-2 border-b border-gray-200  dark:border-gray-800 mb-2"  id="dashboard_info_title" >
        <div class="absolute -left-4 h-5 w-1 rounded-r-sm bg-blue-500"></div>
        <h2 class="pl-4 font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Information"}}</h2>
    </div>

    <!-- Username Info -->
    <div id="dashboard_info_username" class="w-full text-sm mx-2 mb-2">
    <div class="grid grid-cols-2 text-slate-500 dark:text-slate-400 font-medium pb-1 mb-1">
        <div>{{.T.Get "Username"}}</div>
        <div>{{.T.Get "Plan"}}</div>
    </div>
    <div class="grid grid-cols-2">
        <div class="relative">
        <a class="font-medium hover:underline"
            {{if .UserAllowed.account}}href="/account#username"{{end}}>
            {{.CurrentUsername}}
        </a>
        </div>
        <div class="relative">
        <a class="font-medium hover:underline"
            {{if .UserAllowed.info}}href="/server/info"{{end}}>
            {{.HostingPlanName}}
        </a>
        </div>
    </div>
    </div>

    <!-- IP Address Info -->
    <div id="dashboard_info_ip" class="w-full text-sm m-2 ">
    <div class="grid grid-cols-2 text-slate-500 dark:text-slate-400 font-medium pb-1 mb-1">
        <div>{{.T.Get "IP Address"}}</div>
        <div>{{.T.Get "Last Login IP Address"}}</div>
    </div>
    <div class="grid grid-cols-2 items-center">
        <div class="relative">
        <a class="font-medium hover:underline" href="javascript:void(0)">{{.IPAddress}}</a>
        </div>
        <div class="relative flex items-center" id="last-login-info">
        {{if .LastIP}}
            <a class="font-medium hover:underline mr-1" :href="'{{if .UserAllowed.login_history}}/account/login-history{{else}}#{{end}}'" id="last-ip" x-text="lastIp">{{.LastIP}}</a>
            <template x-if="flagSrc">
            <img :src="flagSrc" :alt="country" :title="country" class="w-8 h-6 rounded-sm mr-2" />
            </template>
        {{else}}
            {{.T.Get "/"}}
        {{end}}
        </div>
    </div>
    </div>

    {{if .UserAllowed.domains}}
    <!-- Nameservers Info -->
    {{if and .NS1 .NS2}}
    <div id="dashboard_info_nameservers" class="w-full text-sm m-2">
        <div class="text-slate-500 dark:text-slate-400 font-medium pb-1 mb-1">
        {{.T.Get "Nameservers"}}
        </div>
        <div class="grid grid-cols-2">
        <div class="relative">{{.NS1}}</div>
        <div class="relative">{{.NS2}}</div>
        </div>
        {{if .NS3}}
        <div class="grid grid-cols-2">
            <div class="relative">{{.NS3}}</div>
            <div class="relative">{{.NS4}}</div>
        </div>
        {{end}}
    </div>
    {{end}}
    {{end}}

</div>
<!-- END templates/dashboard/information.html -->
{{end}}
