{{define "service"}}{{if .Service}}
<!-- START templates/partials/_service.html -->
<div  x-data="serviceStatus()" x-init="fetchStatus()" id="service-status" class="relative p-4 hidden sm:inline">
    <span class="inline-flex items-center gap-x-2.5 rounded-full bg-white px-2.5 py-1.5 text-xs  ring-1 ring-inset ring-gray-200 dark:bg-gray-950 dark:ring-gray-800">
        <span class="inline-flex items-center gap-1.5 font-medium text-gray-900 dark:text-gray-50 relative whitespace-nowrap" x-on:mouseenter="showTooltip = true" x-on:mouseleave="showTooltip = false" style="cursor: help;">
        {{.Service}}
            <template x-if="status === 'checking'">
                <svg class="animate-spin -ml-0.5 size-4 shrink-0 text-gray-400 dark:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path></svg>
            </template>

            <template x-if="status === 'active'">
                <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor" aria-hidden="true" class="remixicon -ml-0.5 size-4 shrink-0 text-emerald-600 dark:text-emerald-500"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM17.4571 9.45711L11 15.9142L6.79289 11.7071L8.20711 10.2929L11 13.0858L16.0429 8.04289L17.4571 9.45711Z"></path></svg>
            </template>

            <!-- Error -->
            <template x-if="status === 'error'">
                <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor" aria-hidden="true" class="remixicon -ml-0.5 size-4 shrink-0 text-red-600 dark:text-red-500"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 10.5858L9.17157 7.75736L7.75736 9.17157L10.5858 12L7.75736 14.8284L9.17157 16.2426L12 13.4142L14.8284 16.2426L16.2426 14.8284L13.4142 12L16.2426 9.17157L14.8284 7.75736L12 10.5858Z"></path></svg>
            </template>

            <span x-text="label"></span>

            <div x-cloak x-show="showTooltip" x-transition class="absolute right-0 top-6 z-10 w-72 px-3 py-2 text-xs text-white bg-gray-900 rounded-lg shadow-md dark:bg-gray-800">
                <template x-if="status === 'checking'">
                    <span>{{.T.Get "Loading service data..."}}</span>
                </template>

                <template x-if="status === 'error'">
                    <span>{{.T.Get "Service is not enabled."}}</span>
                </template>

                <template x-if="status === 'active'">
                    <div class="space-y-0.5">
                        <template x-for="(value, key) in stats" :key="key">
                            <div class="flex justify-between" :class="{ hidden: key === 'ID' }">
                                <span class="text-gray-300" x-text="key"></span>
                                <span class="text-gray-100 font-semibold min-w-0" x-text="value"></span>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </span>

{{if .UserAllowed.services}}
    <span class="h-4 w-px bg-gray-200 dark:bg-gray-800"></span>
    <a href="/services/{{.Service}}" class="inline-flex items-center gap-1.5 text-gray-500 dark:text-gray-500">
        {{.T.Get "Manage"}}
    </a>
{{else if .UserAllowed.docker}}
    <span class="h-4 w-px bg-gray-200 dark:bg-gray-800"></span>
    <a href="/containers?s={{.Service}}" class="inline-flex items-center gap-1.5 text-gray-500 dark:text-gray-500">
        {{.T.Get "Manage"}}
    </a>
{{end}}

</div>

<!-- END templates/partials/_service.html -->
{{end}}{{end}}
