{{define "alpine_plugins"}}{{end}}

{{define "content"}}
<!-- START templates/user/notifications.html -->

<!-- page header -->
<section aria-label="Notifications Settings" x-data="{ searchQuery: '' }">
    <div class="border-b flex flex-col border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-950 p-4 sm:p-6 lg:p-8 sm:flex-row sm:items-center sm:justify-between">
        <div>
        <div class="flex items-center gap-x-3"><h1 class="text-lg font-semibold text-gray-900 dark:text-gray-50">{{.T.Get "Email Notifications"}}</h1></div>
        <p class="text-sm text-gray-500 dark:text-gray-500">{{.T.Get "Select events for which to receive email notifications."}}</p>
    </div>
    <div class="mt-2 gap-2 sm:mt-0 sm:flex">
    </div>
</div>
<!-- END page header -->



<!-- form -->
<div class="sm:mx-auto sm:max-w-2xl p-6 m-6 CrawlerStatusCard" id="toAddActive">
    <form class="mt-8" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>

    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">

            <div class="col-span-full">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{.T.Get "Receive email notifications for"}}:</label>
              <div class="">
                {{range .Notifications}}
                    <div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" name="{{.Key}}" id="{{.Key}}" type="checkbox" role="switch" value="1" {{if eq .Value "1"}}checked{{end}}>
                                    <label class="form-check-label" for="{{.Key}}">{{.Label}} </label>
                                </div>
                    </div>
                {{end}}

              </div>
            </div>
        </div>

        <div class="mx-auto my-6 flex w-full items-center justify-between gap-3 text-sm text-gray-500 dark:text-gray-500"><div class="h-[1px] w-full bg-gray-200 dark:bg-gray-800"></div></div>


        <div class="md:flex items-center md:justify-end md:space-x-4">
            <button type="submit" class="relative inline-flex items-center justify-center rounded border px-3 py-2 text-center text-sm font-medium shadow-sm transition-all duration-100 ease-in-out disabled:pointer-events-none disabled:shadow-none outline outline-offset-2 outline-0 focus-visible:outline-2 outline-blue-500 dark:outline-blue-500 dark:border-gray-800 dark:text-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900/60 disabled:text-gray-400 disabled:dark:text-gray-600 mt-2 w-full sm:w-auto gap-x-1.5 whitespace-nowrap border-black bg-black text-white hover:bg-gray-800 sm:mt-0">{{.T.Get "Save Preferences"}} <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path></svg>
            </button>
        </div>

    </form>
</div>
<!-- END form -->

<!-- END templates/user/notifications.html -->
{{end}}
