{% extends 'base.html' %}

{% block content %}


<style>
td {vertical-align: middle;}


@media (min-width: 768px) {
  table.table {
    table-layout: fixed;
  }
  table.table td {
    word-wrap: break-word;
  }
}

@media (max-width: 767px) {
span.advanced-text {display:none;}
}

    .hidden {
        display: none;
    }

.advanced-settings {
    align-items: center;
    text-align: right;
    color: black;
}

.advanced-settings i {
    margin-right: 5px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}


[data-bs-theme=light] .domain_link {
    color: black;
}


.domain_link {
    border-bottom: 1px dashed #999;
    text-decoration: none;
}

.advanced-settings.active i {
    transform: rotate(0);
}

thead {
        border: 1px solid rgb(90 86 86 / 11%);
}
th {
    text-transform: uppercase;
    font-weight: 400;

}

</style>




<div class="row">
    <div id="toAddActive" class="CrawlerStatusCard">
    <!-- "Add New Domain" form -->
    <form id="addDomainForm" method="POST" action="{{ url_for('add_domain') }}" style="display: none;">
<div class="col-md-12">
                    <div class="card mb-3"  style="">
                        <div class="card-body">

<div class="row">
<div class="col-6">
    <label for="domain_url">{{ _('Domain Name:') }}</label>
    <div class="form-group">
    <input type="text" class="form-control" name="domain_url" id="domain_url" placeholder="example.net" required>
    <input type="text" class="form-control d-none" name="domain_name" id="domain_name" placeholder="example.net" hidden >
    </div>
    <small id="punycode-info" style="display: none;"></small>
</div>
<div class="col-6">
    <label for="domain_name">{{ _('Document Root (folder):') }}</label>
    <div class="form-group">
    <input type="text" class="form-control" name="doc_root" id="doc_root" value="/home/{{current_username}}/" disabled>
    </div>
    <small>{{ _('*Document root for now can not be changed, but this feature will soon be added.') }}</small>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/2.1.1/punycode.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var punycodeElements = document.querySelectorAll(".punycode");
        punycodeElements.forEach(function(element) {
            element.textContent = punycode.toUnicode(element.textContent);
        });
    });
</script>


  <hr class="my-4">
  <p>{{ _('When you create a domain or subdomain, the system will attempt to secure that domain with a free') }} <i>Let's Encrypt</i> {{ _('certificate.') }}</p>
  <p> <span class="lead">
        <button type="submit" id="installButton" class="btn btn-lg btn-primary">{{ _('Add Domain') }}</button></span> <span><input type="checkbox" id="preventRedirectCheckbox"><span data-toggle="tooltip" data-placement="bottom" title="{{ _('After adding the domain stay on this page to add another domain.') }}">&nbsp; {{ _('Stay on this page') }}</span></input></span>
  </p>
                       </div>
                    </div>
                </div>
    </form>
</div>

<div id="statusMessage" class="d-none"></div>

<style>
  
@keyframes rotate {
    to {
        --angle: 360deg
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false
}

.CrawlerStatusCard.active {
    animation: rotate 2s linear infinite;
    background: hsla(0,0%,100%,.5);
    border: 2px solid transparent;
    border-image: conic-gradient(from var(--angle),transparent 0deg 90deg,transparent 90deg 180deg,transparent 180deg 270deg,#0077bc 270deg 1turn) 1 stretch;
}
  </style>



{% if total_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>
                        {{ _('Showing domains') }} {{ start_line_number }} {{ _('to') }} {{ end_line_number }}, {{ _('from a total of') }} {{ total_domains }}.
                    </p>
                </div>
                <div class="col-sm">

    <nav aria-label="{{ _('Page navigation') }}">
        <ul class="pagination">
            {% if current_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ current_route }}?page={{ current_page-1 }}" aria-label="{{ _('Previous') }}">
                        <span aria-hidden="true">&laquo;{{ _(' Previous') }}</span>
                    </a>
                </li>
            {% endif %}
            {% for p in range(1, total_pages+1) %}
                {% if p == current_page %}
                    <li class="page-item active">
                        <span class="page-link">{{ p }}</span>
                    </li>
                {% elif p == 1 or p == total_pages or (p >= current_page - 2 and p <= current_page + 2) %}
                    <li class="page-item">
                        <a class="page-link" href="{{ current_route }}?page={{ p }}">{{ p }}</a>
                    </li>
                {% elif p == 2 or p == total_pages - 1 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}
            {% if current_page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ current_route }}?page={{ current_page+1 }}" aria-label="{{ _('Next') }}">
                        <span aria-hidden="true">{{ _('Next') }} &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

                </div>
            </div>
        </div>
        <br>
{% endif %}

    <table id="allDomainsTable" class="table table-hover">
    <thead>
        <tr>
            <th>{{ _('Domain Name') }}</th>
            <th data-toggle="tooltip" data-placement="bottom" title="{{ _('The document root refers to the directory where the content of a domain name is displayed from. It serves as the designated folder where website files should be stored.') }}" class="desktop-only">{{ _('Document Root') }}</th>
            <!--th>Note *(optional)</th-->
            <th  data-toggle="tooltip" data-placement="bottom" title="{{ _('Within the DNS zone, you have the capability to create or oversee various records, including but not limited to A, AAAA, MX, TXT, and more.') }}">{{ _('DNS') }}<span class="desktop-only">{{ _(' Zone') }}</span></th>
            <th  data-toggle="tooltip" data-placement="bottom" title="{{ _('Here, you have the option to redirect traffic to a different URL. Once activated, all query parameters will be transmitted to the specified url.') }}">{{ _('Redirect') }}</th>
            <th style="width: 10%;" data-toggle="tooltip" data-placement="bottom" title="{{ _('When a domain possesses SSL, Force HTTPS is activated automatically, redirecting all traffic to utilize the secure https protocol. However, if a domain lacks an SSL, Force HTTPS cannot be enabled.') }}"><span class="desktop-only">{{ _('Force ') }}</span>{{ _('HTTPS') }}</th>

            <th style="text-align: right; padding-right: 12px; width: 5%;"><i class="bi bi-three-dots"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for domain in domains %}
            <tr class="domain_row">
<td>
                    <a class="domain_link" href="http://{{ domain.domain_url }}" target="_blank">
                        <span class="punycode">{{ domain.domain_url }}</span> <i class="bi bi-box-arrow-up-right"></i>
                    </a>
<small class="mobile-only">
    <br>
<a href="/files/{{ domain.domain_url }}"><i style="color: orange;" class="bi bi-folder-fill"></i> <span class="domain_link">/home/{{ current_username }}/{{ domain.domain_url }}</span></a>
</small>
</td>
<td  class="desktop-only"><a href="/files/{{ domain.domain_url }}"><i style="color: orange;" class="bi bi-folder-fill"></i> <span class="domain_link">/home/{{ current_username }}/{{ domain.domain_url }}</span></a></td>
                <!--td>{{ domain.domain_name }}</td-->

<td>
<a href="/domains/edit-dns-zone/{{ domain.domain_url }}" type="button" class="btn btn-transparent"><span class="mobile-only"><i class="bi bi-pencil-fill"></i></span><span class="desktop-only">{{ _('Edit DNS') }}</span></a>
</td>
                    <td>
                        {% if domain.redirect_url %}
                            <div id="edit-form-{{ domain.domain_id }}" style="display: none;">
                                <form action="/set_redirect" method="post">
                                    <input type="hidden" name="domain_id" value="{{ domain.domain_id }}">
                                    <input type="hidden" name="domain_name" value="{{ domain.domain_name }}">
                                    <input type="hidden" name="domain_url" value="{{ domain.domain_url }}">
                                    
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="redirect_url" value="{{ domain.redirect_url }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><span class="mobile-only"><i class="bi bi-check-lg" style="color:green"></i></span><span class="desktop-only">{{ _('Save') }}</span></button>
<button type="button" class="btn btn-secondary" onclick="cancelEdit('{{ domain.domain_id }}')"><span class="mobile-only"><i class="bi bi-x-lg" style="color:red"></i></span><span class="desktop-only">{{ _('Cancel') }}</span></button>
                                </form>
                            </div>

<div id="edit-buttons-{{ domain.domain_id }}" style="display: inline-flex;">
                                <span id="redirect-value-{{ domain.domain_id }}">{{ domain.redirect_url }}</span>

                            <button type="button" class="btn btn-sm btn-transparent" onclick="editRedirect('{{ domain.domain_id }}')"><i class="bi bi-pencil"></i></button>
                            <form action="/delete_redirect" method="post">
                                <input type="hidden" name="domain_id" value="{{ domain.domain_id }}">
                                <input type="hidden" name="redirect_url" value="{{ domain.redirect_url }}">
                                <button type="submit" class="btn btn-sm btn-transparent" style="color:red;"><i class="bi bi-x-lg"></i></button>
                            </form>

                            </div>
                        {% else %}
                            <div id="create-form-{{ domain.domain_id }}" style="display: none;">
                                <form action="/set_redirect" method="post">
                                    <input type="hidden" name="domain_id" value="{{ domain.domain_id }}">
                                    <input type="hidden" name="domain_name" value="{{ domain.domain_name }}">
                                    <input type="hidden" name="domain_url" value="{{ domain.domain_url }}">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="redirect_url" placeholder="{{ _('Enter redirect URL') }}">
                                    </div>
                                    <button type="submit" class="btn btn-transparent"><span class="mobile-only"><i class="bi bi-check-lg" style="color:green"></i></span><span class="desktop-only">{{ _('Save') }}</span></button>
                                    <button type="button" class="btn btn-transparent" onclick="cancelCreate('{{ domain.domain_id }}')"><span class="mobile-only"><i class="bi bi-x-lg" style="color:red"></i></span><span class="desktop-only">{{ _('Cancel') }}</span></button>
                                </form>
                            </div>
                            <button type="button" class="btn btn-transparent" onclick="showRedirectInput('{{ domain.domain_id }}')" id="create-button-{{ domain.domain_id }}"><span class="mobile-only"><i class="bi bi-plus-circle-fill"></i></span><span class="desktop-only">{{ _('Create Redirect') }}</span></button>
                        {% endif %}


{% if domain.https != "Unknown" %}
<td>
    <input type="hidden" name="domain" value="{{ domain.domain_url }}">


<div class="form-check form-switch">
  <input class="custom-control-input form-check-input" type="checkbox" role="switch" id="domainSwitch{{ loop.index }}" {% if domain.https|string == "True" %} checked {% endif %}>
  <label class="custom-control-label" for="domainSwitch{{ loop.index }}"></label>
</div>

</td>
{% else %}
<td></td>
{% endif %}


<td style="text-align: right;">

<div class="dropdown">
  <a class="dropdown-link advanced-settings" type="button" id="delete-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="bi bi-three-dots"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ _('delete-menu') }}">
        <form action="/domains/edit-vhosts" method="get">
            <input type="hidden" name="domain" value="{{ domain.domain_url }}">
            <button type="submit" id="virtualhosts" class="btn btn-warning dropdown-item"><i class="bi bi-file-earmark-binary"></i>{{ _(' Edit VirtualHosts') }}</button>
        </form>
        <form action="/delete_domain" method="post">
            <input type="hidden" name="domain_id" value="{{ domain.domain_id }}">
<button type="button" class="btn btn-danger dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" onclick="setDeleteDomain('{{ domain.domain_id }}', '{{ domain.domain_name }}')">
        <i class="bi bi-trash3"></i>{{ _(' Delete Domain') }}</button>
        </form>
  </div>
</div>



    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% if total_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>
                        {{ _('Showing domains') }} {{ start_line_number }} {{ _('to') }} {{ end_line_number }}, {{ _('from a total of') }} {{ total_domains }}.
                    </p>
                </div>
                <div class="col-sm">

    <nav aria-label="{{ _('Page navigation') }}">
        <ul class="pagination">
            {% if current_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ current_route }}?page={{ current_page-1 }}" aria-label="{{ _('Previous') }}">
                        <span aria-hidden="true">&laquo; {{ _('Previous') }}</span>
                    </a>
                </li>
            {% endif %}
            {% for p in range(1, total_pages+1) %}
                {% if p == current_page %}
                    <li class="page-item active">
                        <span class="page-link">{{ p }}</span>
                    </li>
                {% elif p == 1 or p == total_pages or (p >= current_page - 2 and p <= current_page + 2) %}
                    <li class="page-item">
                        <a class="page-link" href="{{ current_route }}?page={{ p }}">{{ p }}</a>
                    </li>
                {% elif p == 2 or p == total_pages - 1 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}
            {% if current_page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ current_route }}?page={{ current_page+1 }}" aria-label="{{ _('Next') }}">
                        <span aria-hidden="true">{{ _('Next') }} &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

                </div>
            </div>
        </div>
{% endif %}
</div>


<script>
async function HttpsToggleSelector () {
    $('.custom-control-input').change(function () {
        const isChecked = $(this).prop('checked');
        const domainUrl = $(this).closest('td').find('input[name="domain"]').val();

        $.ajax({
            type: 'POST',
            url: '/domains/enable-https',
            data: {
                domain_url: domainUrl,
                https_enabled: isChecked
            },
            success: function (response) {
                // Display the response as a toast notification for the specific toast
                $('#https-toast #responseMessage').text(response.message);
                $('#https-toast #responseToast').toast('show');
            },
            error: function (xhr, status, error) {
                // Handle error response if needed
                console.error(xhr.responseText);
                
                // Display an error message as a toast notification for the specific toast
                $('#https-toast #responseMessage').text('Error: ' + xhr.responseText);
                $('#https-toast #responseToast').toast('show');
            }
        });
    });
};

HttpsToggleSelector ();

</script>



<script>
    function showRedirectInput(domainId) {
        document.getElementById('create-button-' + domainId).style.display = 'none';
        document.getElementById('create-form-' + domainId).style.display = 'block';
    }

    function cancelCreate(domainId) {
        document.getElementById('create-form-' + domainId).style.display = 'none';
        document.getElementById('create-button-' + domainId).style.display = 'inline';
    }

function editRedirect(domainId) {
    var editButtons = document.getElementById('edit-buttons-' + domainId);
    if (editButtons) editButtons.style.display = 'none';

    var cancelButton = document.querySelector('#edit-buttons-' + domainId + ' button:last-child');
    if (cancelButton) cancelButton.style.display = 'inline-flex';

    var editForm = document.getElementById('edit-form-' + domainId);
    if (editForm) editForm.style.display = 'block';
}

function cancelEdit(domainId) {
    var editButtons = document.getElementById('edit-buttons-' + domainId);
    if (editButtons) editButtons.style.display = 'inline-flex';

    var cancelButton = document.querySelector('#edit-buttons-' + domainId + ' button:last-child');
    if (cancelButton) cancelButton.style.display = 'inline-flex';

    var editForm = document.getElementById('edit-form-' + domainId);
    if (editForm) editForm.style.display = 'none';
}

</script>
<!-- Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">{{ _('Confirm Domain Deletion') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
            </div>
            <div class="modal-body">
                <span class="error_message"></span>
                <div class="confirm_message">{{ _('Are you sure you want to delete the domain?') }}</div>
                <div class="website-list"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
                <form action="/delete_domain" method="post">
                    <input type="hidden" id="deleteDomainId" name="domain_id" value="">
                    <button type="submit" class="btn btn-danger" id="deleteButton">{{ _('Delete') }}</button>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
function setDeleteDomainId(domainId) {
    document.getElementById('deleteDomainId').value = domainId;
}
</script>







</section>
          <footer class="main-footer btn-toolbar" role="toolbar">

<div class="btn-group" role="group" aria-label="{{ _('Status') }}">
<input type="text" class="form-control" placeholder="{{ _('Search domains') }}" id="searchDomainInput">
</div>

            <div class="ms-auto" role="group" aria-label="{{ _('Actions') }}">
<button type="button" class="btn btn-primary d-flex align-items-center gap-2" id="showAddDomainFormBtn"><i class="bi bi-plus-lg"></i> <span class="desktop-only">{{ _('Add Domain') }}</span></button>

</div>
</footer>

<script>
function initializeDomainManagement() {

    // Get references to search input and display settings div
    const searchDomainInput = document.getElementById("searchDomainInput");

    // Get all domain rows to be used for filtering
    const domainRows = document.querySelectorAll(".domain_row");

    // Handle search input changes
    searchDomainInput.addEventListener("input", function() {
        const searchTerm = searchDomainInput.value.trim().toLowerCase();

        // Loop through domain rows and hide/show based on search term
        domainRows.forEach(function(row) {
            const domainName = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
            const domainUrl = row.querySelector("td:nth-child(2)").textContent.toLowerCase();

            // Show row if search term matches domain name or domain URL, otherwise hide it
            if (domainName.includes(searchTerm) || domainUrl.includes(searchTerm)) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    });


}

initializeDomainManagement ();
</script>











<script>

const addDomainForm = document.getElementById("addDomainForm");
const domainNameInput = document.querySelector('input[name="domain_name"]');
const domainUrlInput = document.querySelector('input[name="domain_url"]');
const allDomainsTable = document.getElementById("allDomainsTable");


// Handle form submission
addDomainForm.addEventListener("submit", function(event) {
    event.preventDefault();
    allDomainsTable.style.display = "none"; // Hide the form
    if (domainNameInput.value.trim() === '') {
        domainNameInput.value = extractDomainName(domainUrlInput.value);
    }

    // Use the Punycode value in form submission if available
    if (punycodeValueForSubmission !== undefined) {
        domainUrlInput.value = punycodeValueForSubmission;
    }

    let btnClass, toastMessage;
    const installButton = event.target.querySelector("#installButton");
    
    // Check if the domain URL contains a valid domain name
    const validDomain = isValidDomainName(domainUrlInput.value);
    if (!validDomain) {
        btnClass = 'danger';
        toastMessage = "{{ _('Invalid domain name. Please enter a valid domain name like') }} 'example.com' {{ _('or') }} 'sub.example.com'.";

          const toast = toaster({
            body: toastMessage,
            className: `border-0 text-white bg-${btnClass}`,
          });

        event.preventDefault();
    } else {
        // Use the Punycode value in form submission if available
        if (punycodeValueForSubmission !== undefined) {
            domainUrlInput.value = punycodeValueForSubmission;
        }








    // Show the active state
    document.getElementById("toAddActive").classList.add("active");

    // Disable the button and show loading message
    const button = document.getElementById("installButton");
    button.disabled = true;
    button.innerText = "Adding...";

    // Clear any previous status messages
    const statusMessageDiv = document.getElementById("statusMessage");
    statusMessageDiv.classList.remove("d-none");
    statusMessageDiv.innerText = ""; // Clear status

    // Gather form data to send via POST
    const formData = new FormData(addDomainForm);
    let preventRedirect = document.getElementById('preventRedirectCheckbox').checked;

    // Use fetch to submit the form data as a POST request
    fetch("/add_domain", {
        method: "POST",
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("Network response was not ok.");
            document.getElementById("toAddActive").classList.remove("active");
        }
        return response.body;
    })
    .then(stream => {
        const reader = stream.getReader();
        const decoder = new TextDecoder();
        return new ReadableStream({
            start(controller) {
                function read() {
                    reader.read().then(({ done, value }) => {
                        if (done) {
                            controller.close();
                            return;
                        }
                        const text = decoder.decode(value);
                        statusMessageDiv.innerText += text; // Append new message
                        statusMessageDiv.scrollTop = statusMessageDiv.scrollHeight; // Auto scroll

                        // Check if the text contains "added successfully"
                        if (text.toLowerCase().includes("added successfully")) {
                            success = true;  // Set success to true if found
                        }

                        read(); // Continue reading
                    }).catch(err => {
                        console.error("Error reading stream", err);
                    });
                }
                read();
            }
        });
    })
    .then(() => {  
        document.getElementById("toAddActive").classList.remove("active");
        showCompletion(); // done
        if (!preventRedirect) {
            window.location.href = '/domains'; 
        } else {
            console.log('Staying on the same page.');
        }
        
    })
    .catch(error => {
        console.error("Fetch error: ", error);
        //statusMessageDiv.innerText += "Error occurred during the domain addition process.\n";
        //document.getElementById("toAddActive").classList.remove("active");
    });

    // Function to handle completion
    function showCompletion() {
        statusMessageDiv.style.display = "block";
        button.disabled = false;
        button.innerText = "Add Domain";
          
    }





















    }
});

// Function to extract domain name from a URL
function extractDomainName(url) {
    let domain = url;
    if (domain.indexOf("://") > -1) {
        domain = domain.split('/')[2];
    } else {
        domain = domain.split('/')[0];
    }
    domain = domain.split(':')[0]; // Remove port if present
    return domain;
}

// Function to check if the provided string is a valid domain name
function isValidDomainName(domain) {
    const domainRegex = /^(?:(?!-|_)(?:xn--[a-z0-9-]+|[\p{L}\p{M}\p{N}\p{Pc}\p{Lm}]{1,63})(?<!-|_)\.){1,}(?:xn--[a-z0-9-]+|[a-z]{2,})$/u;
    return domainRegex.test(domain);
}



    // Toggle display of "Add New Domain" form
    const showAddDomainFormBtn = document.getElementById("showAddDomainFormBtn");
    showAddDomainFormBtn.addEventListener("click", function() {
        addDomainForm.style.display = addDomainForm.style.display === "none" ? "block" : "none";
    });


function toggleAddDomainForm() {
  const currentFragment = window.location.hash;
  const addNewFragment = "#add-new";

  if (currentFragment === addNewFragment) {
    addDomainForm.style.display = "block";
  } else {
    addDomainForm.style.display = "none";
  }
}

// Listen for changes in the URL's fragment identifier
window.addEventListener("hashchange", toggleAddDomainForm);

// Check the initial fragment identifier when the page loads
window.addEventListener("load", toggleAddDomainForm);



    // Functions to handle showing/hiding redirect options for each domain
    function showRedirectInput(domainId) {
        document.getElementById('create-button-' + domainId).style.display = 'none';
        document.getElementById('create-form-' + domainId).style.display = 'block';
    }

    function cancelCreate(domainId) {
        document.getElementById('create-form-' + domainId).style.display = 'none';
        document.getElementById('create-button-' + domainId).style.display = 'inline';
    }

    function editRedirect(domainId) {
        const spanElement = document.getElementById('redirect-value-' + domainId);
        if (spanElement) spanElement.style.display = 'none';

        const editButton = document.querySelector('#edit-form-' + domainId + ' button');
        if (editButton) editButton.style.display = 'inline';

        const editForm = document.getElementById('edit-form-' + domainId);
        if (editForm) editForm.style.display = 'block';
    }

    function cancelEdit(domainId) {
        const spanElement = document.getElementById('redirect-value-' + domainId);
        if (spanElement) spanElement.style.display = 'inline';

        const editButton = document.querySelector('#edit-form-' + domainId + ' button');
        if (editButton) editButton.style.display = 'none';

        const editForm = document.getElementById('edit-form-' + domainId);
        if (editForm) editForm.style.display = 'none';
    }

// Function to set domainId and domainName for deletion confirmation
const deleteConfirmationModal = document.getElementById('deleteConfirmationModal');

function setDeleteDomain(domainId, domainName) {
    // Set the domainId for deletion confirmation
    document.getElementById('deleteDomainId').value = domainId;

    // Set the domainName in the modal message
    const confirmMessage = deleteConfirmationModal.querySelector('.confirm_message');
    const errorMessage = deleteConfirmationModal.querySelector('.error_message');
    confirmMessage.innerHTML = `{{ _('Are you sure you want to delete the domain') }} <span class="punycode">${domainName}</span>?`;

    // Check if there are associated websites
    const associatedWebsites = getAssociatedWebsites(domainName);

    // Display associated websites in the modal content
    const websiteList = deleteConfirmationModal.querySelector('.website-list');
    if (associatedWebsites.length > 0) {
        // Disable the "Delete" button
        document.getElementById('deleteButton').disabled = true;
        // Display message!
        errorMessage.innerHTML = `<div class="modal-icon modal-error modal-icon-show"></div>`;
        confirmMessage.innerHTML = `<div class="alert alert-danger" role="alert">{{ _('Domain') }} <span class="punycode">${domainName}</span> {{ _('can not be deleted because it is used on websites:') }}</div>`;
        websiteList.innerHTML = '';
        associatedWebsites.forEach((website) => {
            const websiteItem = document.createElement('li');
            const websiteLink = document.createElement('a');
            websiteLink.textContent = website;
            websiteLink.setAttribute('href', `/website?domain=${website}`);
            websiteLink.addEventListener('click', function() {
                // Simulate a click on the "Cancel" button to close modal first..
                const cancelButton = deleteConfirmationModal.querySelector('.btn-secondary');
                cancelButton.click();
            });
            websiteItem.appendChild(websiteLink);
            websiteList.appendChild(websiteItem);
        });
    } else {
        errorMessage.innerHTML = `<div class="modal-icon modal-warning modal-icon-show"></div>`;
        websiteList.innerHTML = ''; // Clear the website list if there are no associated websites
        document.getElementById('deleteButton').disabled = false;
    }

    // Show the deletion confirmation modal
    deleteConfirmationModal.show();
}

// Function to get associated websites for a domain
function getAssociatedWebsites(domainName) {
    const links = document.querySelectorAll('.dropdown-item');
    const associatedWebsites = [];

    links.forEach((link) => {
        const href = link.getAttribute('href');
        if (href && (href.includes(`/website?domain=${domainName}`) || href.includes(`/pm?domain=${domainName}`))) {
            const websitePath = href.replace('/website?domain=', '').replace('/pm?domain=', '');
            associatedWebsites.push(websitePath);
        }
    });

    return associatedWebsites;
}



// Close deletion confirmation modal on cancel
const cancelButton = deleteConfirmationModal.querySelector('.btn-secondary');
cancelButton.addEventListener('click', function () {
    deleteConfirmationModal.hide();
});


</script>



<script>
const docRootInput = document.getElementById('doc_root');
const punycodeInfo = document.getElementById('punycode-info');

// Variable to hold Punycode value for submission
let punycodeValueForSubmission;

// Add an event listener to the domain_url input field
domainUrlInput.addEventListener('input', function () {
    // Get the current value of domain_url
    var domainUrlValue = domainUrlInput.value;

    // Check if the domain name contains non-ASCII characters
    var needsPunycode = /[^\x00-\x7F]/.test(domainUrlValue);

    if (needsPunycode) {
        // Convert the domain name to Punycode
        punycodeValueForSubmission = punycode.toASCII(domainUrlValue);

        // Display the Punycode information
        punycodeInfo.innerHTML = "{{ _('Converted to Punycode:') }} <b>" + punycodeValueForSubmission + "</b> {{ _('(for compatibility with internationalized domain names)') }}";
        punycodeInfo.style.display = 'block';

        // Update the doc_root field by replacing 'DOMEN' with the Punycode value
        var updatedDocRootValue = "/home/{{current_username}}/" + punycodeValueForSubmission;
        docRootInput.value = updatedDocRootValue;
    } else {
        // If no conversion is needed, hide the Punycode info div
        punycodeInfo.style.display = 'none';

        // Update the doc_root field without Punycode conversion
        var updatedDocRootValue = "/home/{{current_username}}/" + domainUrlValue;
        docRootInput.value = updatedDocRootValue;

        // Clear the Punycode value for submission
        punycodeValueForSubmission = undefined;
    }
});
</script>



<script>
document.addEventListener("DOMContentLoaded", function() {
    const showAddDomainFormBtn = document.querySelector("#showAddDomainFormBtn");
    const domainUrlInput = document.querySelector("#domain_url");
    showAddDomainFormBtn.addEventListener("click", function() {
        // Set focus to the domain_url input field
        domainUrlInput.focus();
    });
});

</script>




{% endblock %}
